* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

body {
    --grey: #555555;
    --purple: #ff3998;
    --black: #111111;
    --orange: #ff8139;
    --lightgrey: #eeeeee;
    --white: #ffffff;
    margin: 0;
    background: var(--white);
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

.row {
    display: flex;
}

.column {
    display: grid;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

/***************** Navigation ******************/
header, nav ul {
    align-items: center;
    gap: 2em;
    padding: 1.5em 0;
    justify-content: space-between;
}

nav a {
    font-size: 20px;
    color: var(--grey);
}

/* last of navigation item */
nav li:nth-of-type(4) a {
    color: var(--purple);
}
/**************** END Navigation ****************/
/*********************** HERO *******************/
.hero,
.launch {
    align-items: center;
    background-image: url(./assets/assets/graphic.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding: 2em 0;
    min-height: calc(100vh - 88px);
}

.hero div,
.launch div {
    max-width: 500px;
}

.hero h6,
.launch h6 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--purple);
}

.hero h1 {
    font-weight: 900;
    font-size: clamp(60px, 10vw, 100px);
    color: var(--black);
}

.hero p,
.launch p {
    font-size: 20px;
    color: var(--grey);
    padding: 1em 0;
}

.hero a,
.launch a {
    color: var(--black);
    border: 4px solid #ff8139;
    padding: 0.3em 1em;
    border-radius: 100px;
}

.launch a {
  font-size: 20px;
}

a.hero-btn {
  font-size: 15px;
  padding: 10px 25px;
}
/******************** END HERO *******************/
/******************** FREE NFT *******************/
.free {
    position: relative;
    align-items: center;
    background-image: url(./assets/assets/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2em auto;
    z-index: 3;
    border-radius: 15px;
}

.free-content {
    padding: 2em;
    z-index: 1;
}

.free-content h3 {
    font-weight: 500;
    font-size: clamp(30px, 5vw, 40px);
    color: var(--black);
    padding: 1em 0;
}

.free-content p {
    font-size: 20px;
    color: var(--black);
}
/****************** END FREE NFT ****************/
/**************** Companies LOGOS ***************/
.logos {
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
  padding: 2em 0;
}

.logos img {
  max-width: 100px;
}
/************** END Companies LOGOS ************/
/************* LE Super Rare Auction ***********/
.auction {
    padding: 2em 0;
}

.auction-content h2 {
    font-weight: 500;
    font-size: clamp(30px, 5vw, 40px);
    color: var(--black);
}

.auction-content p {
    font-size: 20px;
    color: var(--grey);
    padding: 1em 0;
}

.auction-cards {
    padding: 2em 0;
    gap: 2em;
    justify-content: space-between;
}

.auction-cards .card {
    min-width: 290px;
}

.card {
    background: var(--lightgrey);
    border-radius: 20px;
    overflow: hidden;
}

.card-content {
    padding: 1em;
    gap: 1em;
}

.card-content h6 {
    font-weight: 500;
    font-size: 12px;
    color: var(--orange);
}

.card-right h6 {
    color: var(--grey);
}

.card-content h5 {
    font-weight: 500;
    font-size: 20px;
    padding: 0.5em 0;
    color: var(--black);
}

.card-content p,
.card-left p {
    font-size: 18px;
    color: var(--grey);
}

.card-right .row {
    align-items: center;
    gap: 0.5em;
}

.card-content img {
    max-width: 15px;
}
/******* END LE Super Rare Auction ******/

/************* Launching SOON ***********/
.launch {
    background-image: url(./assets/assets/upsell-footer-image.svg);
    background-size: 50%;
    border-width: 1px 0px;
    border-style: solid;
    border-color: var(--grey);
    margin: 2em auto;
}

.launch h1 {
    font-weight: 900;
    font-size: clamp(50px, 10vw, 60px);
    color: var(--black);
}
/*********** END Launching SOON *********/

/************** Footer ******************/
footer, .footer {
    padding: 2em 0;
}

.footer {
    flex-wrap: wrap;
    gap: 2em;
}

.footer > * {
    flex: 1 1 25em;
}

.footer-content p {
    font-size: 20px;
    color: var(--grey);
    padding: 1em 0;
}

.social-links {
    align-items: center;
    gap: 2em;
}

.social-links a {
    fill: var(--grey);
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    justify-content: center;
}

.footer-links > * {
    flex: 1 1 5em;
}

.footer-links h3 {
    font-weight: 700;
    color: var(--grey);
    font-size: clamp(20px, 5vw, 25px);
    padding-bottom: 1em;
}

.footer-links li+li {
    padding-top: 1em;
}

.footer-links a {
    font-size: 16px;
    color: var(--grey);
}

.copy-right {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: var(--grey);
    padding: 1em 0;
}
/************************* End Footer **************************/

/************************** Wrapper ****************************/
@media screen and (max-width: 800px) {
    .hamburger {
        position: absolute;
        right: 5%;
        background-image: url(./assets/assets/eth.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        width: 30px;
        height: 30px;
        padding: 2em;
        z-index: 2;
    }

    .navigation {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        transform-origin: top;
        transform: scale(0);
    }

    nav ul {
        flex-direction: column;
    }

    .hero,
    .launch {
        background-position: bottom right;
        background-size: auto;
    }
}